@import url("https://fonts.googleapis.com/css?family=Raleway");
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif !important;
  overflow-y: scroll;
  position: relative;
}

/* Overlay Hero Nav */
.container-fluid {
  margin: 0 !important;
  padding: 0 !important;
}

.overlay {
  position: relative;
  height: 300px;
  padding-bottom: 974px;
  max-width: 100%;
  max-height: auto;

  /* CSS Grad*/
  background: linear-gradient(210deg, #812ba0 0%, #008e8f 100%);
}
.nav-item a {
  color: #ffffff !important;
  font-size: 14px;
  font-weight: 500;
  line-height: 38px;
}
.nav-item {
  padding-right: 20px !important;
}
.hero-text {
  text-align: center;
  padding-top: 10em;
}
.hero-text h1 {
  color: #ffffff;
  font-size: 48px;
  font-weight: 900;
}
.stc {
  color: #ffbd00;
}
.sub-content {
  margin-top: 80px;
  margin-right: 20px;
  color: #ffffff;
  font-size: 21px;
}
#contact-btn {
  float: right;
}

.heroImg {
  margin-top: 135px;
  margin-left: 400px;
  margin-right: 400px;
  position: absolute !important;
  top: 0;
  overflow: visible !important;
  z-index: 9000;
  max-width: 100% !important;
  max-height: auto;
}
/* Values */
.values-wrapper {
  position: relative;
  margin-top: 400px;
  overflow: hidden;
}

.values-wrapper h2 {
  font-size: 36px;
  color: #8a8aa7;
  font-family: "Raleway";
  font-weight: 500;
}
.values-wrapper p {
  font-size: 14px;
  line-height: 24px;
  color: #606080;
  font-family: "Raleway";
  font-weight: 400;
}
#shadow {
  float: right !important;
}

/* Goal */
#goal {
  overflow: hidden;
  max-width: 100% !important;
  background-color: #eaecf2;
  padding-top: 20em !important;
  padding-bottom: 10em !important;
  width: 100%;
  -webkit-clip-path: polygon(0 0, 100% 33%, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 33%, 100% 100%, 0% 100%);
}
/* Mobile */

/* 800 */
@media screen and (max-width: 800px) {
  #goal {
    -webkit-clip-path: polygon(0 0, 100% 33%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 100%);
  }
  .card2 {
    margin-top: 2em !important;
  }
}
/*--800--*/
/* 900 */
@media screen and (max-width: 900px) {
  #goal {
    -webkit-clip-path: polygon(0 0, 100% 33%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 100%);
  }
}
/*--600--*/
/*--Mobile--*/
#goal h3 {
  color: #7886ab;
  font-size: 48px;
  font-weight: 900;
}
.card1 {
  margin-top: 10em;
  float: right;
  width: 460px;
  height: 460px;
  position: relative;
  max-width: 100%;
  max-height: auto;
  background-image: url("../img/goal/1/hover-back.png"); /* The image used */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
#card1-phone {
  margin: 50px 0 0 50px;
  float: left;
}
.card1-subtext,
.card3-subtext {
  margin-top: 45px;
  margin-left: 5em;
  font-size: 22px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 700;
}
.card1 ul,
.card2 ul,
.card3 ul,
.card4 ul {
  margin-top: 25px;
  color: #ffffff;
  font-size: 16px;
}
.card1 ul li,
.card2 ul li,
.card3 ul li,
.card4 ul li {
  margin-bottom: 10px;
}
.arrow {
  padding-right: 5px;
  margin-left: 50px;
  margin-bottom: 5px;
}
.btn {
  margin-left: 80px;
  color: #00037b;
  font-size: 16px;
  font-weight: bold !important;
}
.card2 {
  margin-top: 10em;
  float: left;
  width: 460px;
  height: 460px;
  position: relative;
  max-width: 100%;
  max-height: auto;
  background-image: url("../img/goal/2/shape2.png"); /* The image used */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
#card2-comp,
#card4-comp {
  margin: 50px 0 0 50px;
  float: left;
}
.card2-subtext {
  margin-top: 45px;
  margin-left: 4.5em;
  font-size: 22px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 700 !important;
}
.card3 {
  margin-top: 2em;
  float: right;
  width: 460px;
  height: 460px;
  position: relative;
  max-width: 100%;
  max-height: auto;
  background-image: url("../img/goal/1/hover-back.png"); /* The image used */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
#arrow {
  text-align: none !important;
  margin-top: 24em;
  margin-left: 3em !important;
  float: left !important;
  position: absolute;
  top: 0;
}
.card4 {
  margin-top: 2em;
  float: left;
  width: 460px;
  height: 460px;
  position: relative;
  max-width: 100%;
  max-height: auto;
  background-image: url("../img/goal/2/shape2.png"); /* The image used */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
.card4-subtext {
  margin-top: 45px;
  margin-left: 5em;
  font-size: 22px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 700 !important;
}
/* Team */
#team {
  overflow: hidden !important;
}
.jumbotron {
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(
    150deg,
    #008e8f 0%,
    #008e8f 0%,
    #812ba0 100%
  );
}
.jumbotron video {
  overflow: hidden;
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 100%;
  /*  object-fit is not supported on IE  */
  object-fit: cover;
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
  opacity: 0.3;
}
.jumbotron .container {
  z-index: 2;
  position: relative;
  padding-bottom: 7em;
}
.team-title {
  margin-top: 2em;
  font-size: 36px;
  color: #ffffff;
  font-family: "Raleway";
  font-weight: 500 !important;
}
.team-subtext {
  font-size: 21px;
  line-height: 36px;
  color: #ffffff;
  font-family: "Raleway";
  font-weight: 400 !important;
}
.name-title {
  margin-top: 5em;
  font-size: 22px;
  line-height: 24px;
  color: #ffffff;
  font-family: "Raleway";
  font-weight: 700;
}
/* Process */
.process {
  z-index: 30;
  padding-bottom: 10em;
  background-color: #eaecf2;
  position: relative;
  height: 964px;
  -webkit-clip-path: polygon(100% 75%, 70% 100%, 0 67%, 0 0, 100% 0);
  clip-path: polygon(100% 70%, 60% 100%, 0 55%, 0 0, 100% 0);
}

.process h5 {
  padding-top: 80px;
  color: #606080;
  font-size: 36px;
  font-weight: 500;
  line-height: 0;
  text-align: center;
}
.process-1 {
  z-index: -100;
  margin-top: 250px;
  margin-left: 20em;
  width: 550px;
  height: 260px;
  background-color: white;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  color: #55576f;
  font-size: 14px;
  line-height: 24px;
}

.process-1-wrapper {
  padding-top: 75px;
  text-align: center;
  padding-right: 40px;
}
.number {
  color: #55576f;
  font-size: 32px;
  font-weight: 300;
  line-height: 24px;
}
.process ul {
  display: inline-block;
}
.process-2 {
  margin-top: 8em;
  margin-left: 33.5em;
  position: absolute;
  top: 40;
  left: 0;
  z-index: 1;
  margin-right: 40px;
  text-align: center;
  width: 550px;
  height: 260px;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  background: linear-gradient(258deg, #7e2da0 0%, #038b8f 100%);
}
.process-2-wrapper {
  padding-top: 50px;
}
.number-2 {
  color: #ffffff;
  font-size: 32px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
}
.process-title {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  line-height: 38px;
  text-align: center;
}
.process-text-2 {
  margin-top: 8px;
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}
.process-3 {
  margin-top: 18.5em;
  margin-left: 58em;
  position: absolute;
  left: 0;
  z-index: 100;
  width: 550px;
  height: 260px;
  background-color: white;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  color: #55576f;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}
.number-3 {
  padding-top: 65px;

  color: #55576f;
  font-size: 32px;
  font-weight: 300;
  line-height: 24px;
}
.process-4 {
  margin-top: 8em;
  margin-left: 67.8em;
  position: absolute;
  top: 40;
  left: 0;
  z-index: 600;
  margin-right: 40px;
  text-align: center;
  width: 550px;
  height: 260px;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  background: linear-gradient(258deg, #7e2da0 0%, #038b8f 100%);
}
.number-4 {
  color: #ffffff;
  font-size: 32px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
}
.process-wrapper-4 {
  padding-top: 50px;
}
.process-text-4 {
  margin-top: 8px;
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}
.process-5 {
  margin-top: 32.5em;
  margin-left: 50.8em;
  position: absolute;
  top: 40;
  left: 0;
  z-index: 600;
  margin-right: 40px;
  text-align: center;
  width: 550px;
  height: 260px;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  background: linear-gradient(258deg, #7e2da0 0%, #038b8f 100%);
}
.process-wrapper-5 {
  padding-top: 60px;
}
.process-text-5 {
  margin-top: 8px;
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}
/* Arrow */
.arrow1 {
  visibility: hidden;
  z-index: 2000;
  margin-top: 10em;
  margin-left: 30em;
  position: absolute;
  width: 200px;
}
/* Horse Head */

.horse-head {
  margin-top: 19.5em;
  margin-left: 20em;
  position: absolute;
  z-index: 900;
}

#horse-head-id {
  visibility: hidden;
}

/* Partners */
.partners {
  width: 100%;
  height: 500px;
  z-index: 600;
  top: 0;
  left: 0;
  background-color: white;
}
.partners h6 {
  margin-left: 10em;
  color: #606080;
  font-size: 36px;
  font-weight: 500;
  line-height: 2;
}
.partners ul {
  justify-content: center;
  text-align: center;
  margin-top: 100px;
  margin-left: 100px;
}
.partners ul li {
  display: inline-block;
  margin-right: 10em;
}

/* CTA 2 */
.cta2 {
  position: relative;
  height: 472px;
  background-color: #29264e;
  background-image: url("../img/cta2/cta2-img.png"); /* The image used */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
.cta2 p {
  padding-top: 155px;
  color: #ffffff;
  font-size: 48px;
  font-weight: 900;
  line-height: 1.5;
  text-align: center;
}
.together {
  color: #ffbd00;
}
.cta2 .cta-overlay {
  position: relative;
  width: 100%;
  height: 478px;
  opacity: 0.85;
  background-color: #29264e;
  background: linear-gradient(222deg, #7e2da0 0%, #038b8f 100%);
}
.cta2-div {
  z-index: 300;
  opacity: 5;
  padding-top: 80px;
  margin-left: 53em;
}
.cta2-btn:hover {
  opacity: 0.7;
}

.cta-sec-2 {
  display: none;
  height: 287px;
  width: 100%;
  background-color: #eaecf2;
}
.cta-sec-2-text {
  margin-top: 0 !important;
  padding-top: 80px !important;
  top: 0 !important;
  color: #353b52 !important;
  font-size: 21px !important;
  text-align: center !important;
}
.cta-form {
  margin-top: 50px;
  text-align: center;
}
#name {
  margin-right: 50px;
  position: static;
  z-index: 10;
  height: 60px;
  width: 300px;
  text-decoration: none;
  border-radius: 40px;
  border: none;
}
#name::placeholder {
  z-index: 1000;
  padding-left: 20px;
  color: #55576f;
  font-size: 14px;
  line-height: 24px;
}
#email {
  position: static;
  z-index: 10;
  height: 60px;
  width: 300px;
  text-decoration: none;
  border-radius: 40px;
  border: none;
}
#email::placeholder {
  padding-left: 20px;
  z-index: 50;
  color: #55576f;
  font-size: 14px;
  line-height: 24px;
}
#cta2-btn {
  background-color: #ffbd00;
  margin-left: 50px;
  position: static;
  z-index: 10;
  height: 60px;
  width: 158px;
  text-decoration: none;
  border-radius: 40px;
  padding: 10px;
  border: none;
  color: #1d005a;
  font-size: 18px;
  font-weight: bold;
  line-height: 0;
  text-align: center;
}
/* Footer */
footer {
  bottom: 0;
  position: static;
  height: 400px;
  background-color: white;
}
footer p {
  padding-top: 80px;
  color: #353b52;
  font-size: 36px;
  line-height: 1;
  text-align: center;
}
.foot-1 {
  float: left;
  margin-top: 50px;
  margin-left: 20em;
}
.foot-title {
  font-size: 20px;
  font-weight: 900;
}
.foot-phone,
.foot-email {
  margin-right: 10px;
}
.foot-2 {
  float: right;
  margin-right: 37em;
  margin-top: 50px;
}
.foot-2 li {
  display: inline-block;
  margin-right: 5em;
}
.foot-2 img {
  width: 40px;
  height: 40px;
}
.copyright-section {
  margin-right: 28.5em;
  float: right;
  margin-top: 35px;
  color: #353b52;
  font-family: Raleway;
  font-size: 21px;
  line-height: 36px;
}
.te-pr {
  color: #35a692;
  border-bottom: 2px solid #35a692;
}
