/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .overlay {
    position: relative;
    height: 100px;
    padding-bottom: 890px;
    max-width: 100%;
    max-height: auto;

    /* CSS Grad*/
    background: linear-gradient(210deg, #812ba0 0%, #008e8f 100%);
  }
  .heroImg {
    overflow: hidden !important;
    margin-top: 100px;
    margin-left: 1px;
    margin-right: 1px;
    position: absolute !important;
    z-index: 9000;
    max-width: 100% !important;
    max-height: auto;
  }
  /* Value */
  .values-wrapper {
    position: relative;
    margin-top: 200px;
    overflow: hidden;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  ...;
}
